extends layout

block content
  h1= title
  p Welcome to #{title}!
  div(ng-controller="UsersCtrl")
    div(ng-view)

  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js")
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/app.js")
  script(src="/javascripts/services.js")
  script(src="/javascripts/controllers.js")
  script(src="/socket.io/socket.io.js")


