h1 Math Challenge!

form(action="", method="post", ng-show="!valid")
	label Nome:  
	input(type="text", name="name",value="{{item.name}}", ng-model="item.name")
	button(ng-click="verifyName(item); UsersCtrl.valid=true") Entrar

div(ng-show="valid", ng-init="race(item);")
	span(id="socketio") 
	h1 {{item.name}}: 
	br
	span(id="op") operation
	form(action="", ng-submit="sendResult(item)")
		input(class="in_usr", maxlength="4", type="text", name="p1", value="", ng-model="item.value")
	br
	span(id="result") result
	p time: 
	span(id="mrtime") 
	p score <span id="score">
	h2 Hall Of Fame

	ul(ng-init="load()")
		li(ng-repeat="rank_player in hof | orderBy:'score':true")
			{{ rank_player.player }}: {{ rank_player.score }} {{ rank_player.timestamp }} 
	