h1 Math Challenge!

form(action="", method="post", ng-init="get()", ng-show="!valid")
	label Nome:  
	input(type="text", name="name",value="{{item.name}}", ng-model="item.name")
	button(ng-click="verifyName(item); UsersCtrl.valid=true") Entrar

div(ng-show="valid", ng-init="race(item)")
	span(id="socketio") 
	h1 {{item.name}}: Resultado-> 
	span(id="result") Result
	br
	span(id="op") = opi
	form(action="", ng-submit="sendResult(item)")
		input(class="in_usr", maxlength="4", type="text", name="p1", value="", ng-model="item.value")
	br
	p iv: {{ item.value }}
	p time: 
	span(id="mrtime") 
	p score <span id="score">
	p hof <span id="hall_of_fame">

div(ng-show="!valid")
	p Não foi